Exercise 17: Find the sum of the series upto n terms

Write a program to calculate the sum of series up to n term. For example, if n =5 the series will become 2 + 22 + 222 + 2222 + 22222 = 24690

In [23]:
num = str(2)
l = []
#add each instance of 2 to the previous number, create an empty list?
for i in range(1,n+1):
    l.append(num*i)
print(l)

['2', '22', '222', '2222', '22222']

In [24]:
numlist = [int(i) for i in l]

In [25]:
numlist

[2, 22, 222, 2222, 22222]

In [26]:
print(sum(numlist))

24690

In [29]:
def seriessummer(n):
    num = str(2)
    l = []
    
    #add each instance of 2 to the previous number, create an empty list?
    for i in range(1,n+1):
        l.append(num*i)
    #print(l)
    
    # creating a integer list for all items in list l 
    numlist = [int(i) for i in l]        
    return sum(numlist)

In [30]:
seriessummer(5)

24690

In [32]:
seriessummer(2)

24

In [33]:
#Alternate method
n = 5
# first number of sequence
start = 2
sum_seq = 0

# run loop n times
for i in range(0, n):
    print(start, end="+")
    sum_seq += start
    # calculate the next term
    start = start * 10 + 2
print("\nSum of above series is:", sum_seq)

2+22+222+2222+22222+
Sum of above series is: 24690